Lista dei dati
- [FAO.csv](https://www.kaggle.com/dorbicycle/world-foodfeed-production)
- [Food_Production.csv](https://www.kaggle.com/selfvivek/environment-impact-of-food-production)

In [1]:
import pandas as pd
raw = pd.read_csv('./Data/FAO.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 210748: invalid continuation byte

Per risolvere questo problema...

In [2]:
with open('./Data/FAO.csv', encoding="utf8", errors='ignore') as f:
    raw = pd.read_csv(f)

In [9]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              17938 non-null  float64
 11  Y1962              17938 non-null  float64
 12  Y1963              17938 non-null  float64
 13  Y1964              17938 non-null  float64
 14  Y1965              17938 non-null  float64
 15  Y1966              17938 non-null  float64
 16  Y1967              17938 non-null  float64
 17  Y1968              17938 non-null  float64
 18  Y1969              17938 non-null  float64
 19  Y1970              17938 non-null  float64
 20  Y1971              17938 non-null  float64
 21  Y1972              17938 non-null  float64
 22  Y1973              17938 non-null  float64
 23  Y1974              17938 non-null  float64
 24  Y1975              17938 non-null  float64
 25  Y1976              17938 non-null  float64
 26  Y1977              17938 non-null  float64
 27  Y1978              17938 non-null  float64
 28  Y1979              17938 non-null  float64
 29  Y1980              17938 non-null  float64
 30  Y1981              17938 non-null  float64
 31  Y1982              17938 non-null  float64
 32  Y1983              17938 non-null  float64
 33  Y1984              17938 non-null  float64
 34  Y1985              17938 non-null  float64
 35  Y1986              17938 non-null  float64
 36  Y1987              17938 non-null  float64
 37  Y1988              17938 non-null  float64
 38  Y1989              17938 non-null  float64
 39  Y1990              18062 non-null  float64
 40  Y1991              18062 non-null  float64
 41  Y1992              20490 non-null  float64
 42  Y1993              20865 non-null  float64
 43  Y1994              20865 non-null  float64
 44  Y1995              20865 non-null  float64
 45  Y1996              20865 non-null  float64
 46  Y1997              20865 non-null  float64
 47  Y1998              20865 non-null  float64
 48  Y1999              20865 non-null  float64
 49  Y2000              21128 non-null  float64
 50  Y2001              21128 non-null  float64
 51  Y2002              21128 non-null  float64
 52  Y2003              21128 non-null  float64
 53  Y2004              21128 non-null  float64
 54  Y2005              21128 non-null  float64
 55  Y2006              21373 non-null  float64
 56  Y2007              21373 non-null  float64
 57  Y2008              21373 non-null  float64
 58  Y2009              21373 non-null  float64
 59  Y2010              21373 non-null  float64
 60  Y2011              21373 non-null  float64
 61  Y2012              21477 non-null  int64
 62  Y2013              21477 non-null  int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [19]:
# Percentuale NaN presenti nel dataset
t = raw.shape
perc_NaN = ((raw.isna().sum().sum())/(t[0]*t[1])*100).round(2)
perc_NaN

8.68

Area Abbreviation

In [26]:
len(raw['Area Abbreviation'].unique())

169

Area Code

In [23]:
len(raw['Area Code'].unique())

174

Unit

In [25]:
len(raw['Unit'].unique())

1

Element

In [24]:
len(raw['Element'].unique())

2

Item Code

In [38]:
len(raw['Item Code'].unique())

117

Item

In [36]:
len(raw['Item'].unique())

115

In [43]:
raw.sample(3)

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
19951,UKR,230,Ukraine,2737,"Fats, Animals, Raw",5142,Food,1000 tonnes,48.38,31.17,...,146.0,124.0,122.0,120.0,121.0,127.0,129.0,129.0,130,125
7579,DEU,79,Germany,2572,Groundnut Oil,5142,Food,1000 tonnes,51.17,10.45,...,8.0,11.0,18.0,14.0,10.0,11.0,5.0,5.0,4,4
6025,ECU,58,Ecuador,2537,Sugar beet,5521,Feed,1000 tonnes,-1.83,-78.18,...,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4,4

In [50]:
raw.to_excel('./Data/output.xlsx',engine='xlsxwriter')