## Build dataset
I will merge all little dataset in a only one

In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('./Data/PopulationByCity.csv')

In [3]:
data = list(raw['population'])
index = list(raw['state'])
df = pd.DataFrame(data=index)

In [4]:
df.columns = ['State']

In [5]:
df=df.assign(Population=data)

In [6]:
with open('./Data/PercentagePeopleBelowPovertyLevel.csv', encoding="utf8", errors='ignore') as f:
    raw = pd.read_csv(f)

In [7]:
data = raw['poverty_rate']

In [8]:
import numpy as np
replace =raw.replace('-', np.nan)

In [9]:
to_convert = raw['poverty_rate']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(Poverty_rate=converted)

In [10]:
with open('./Data/MedianHouseholdIncome2015.csv', encoding="utf8", errors='ignore') as f:
    raw = pd.read_csv(f)

In [11]:
to_convert = raw['Median Income']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(Median_income=converted)

In [12]:
with open('./Data/PercentOver25CompletedHighSchool.csv', encoding="utf8", errors='ignore') as f:
    raw = pd.read_csv(f)

In [13]:
to_convert = raw['percent_completed_hs']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(Percent_completed_hs=converted)

In [14]:
with open('./Data/ShareRaceByCity.csv', encoding="utf8", errors='ignore') as f:
    raw = pd.read_csv(f)

In [15]:
to_convert = raw['share_white']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(share_white=converted)

In [16]:
to_convert = raw['share_black']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(share_black=converted)

In [17]:
to_convert = raw['share_native_american']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(share_native_american=converted)

In [18]:
to_convert = raw['share_asian']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(share_asian=converted)

In [19]:
to_convert = raw['share_hispanic']
converted = pd.to_numeric(to_convert, errors='coerce')
df = df.assign(share_hispanic=converted)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2832 entries, 0 to 2831
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State                  2832 non-null   object
 1   Population             2832 non-null   float64
 2   Poverty_rate           2795 non-null   float64
 3   Median_income          2515 non-null   float64
 4   Percent_completed_hs   2797 non-null   float64
 5   share_white            2826 non-null   float64
 6   share_black            2826 non-null   float64
 7   share_native_american  2826 non-null   float64
 8   share_asian            2826 non-null   float64
 9   share_hispanic         2826 non-null   float64
dtypes: float64(9), object(1)
memory usage: 221.4+ KB

In [21]:
df.head()

,State,Population,Poverty_rate,Median_income,Percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AK,2057.0,78.8,11207.0,21.2,67.2,30.2,0.0,0.0,1.6
1,AK,253421.0,29.1,25615.0,69.1,54.4,41.4,0.1,1.0,3.1
2,AK,4178.0,25.5,42575.0,78.9,52.3,44.9,0.5,0.3,2.3
3,AK,3136.0,30.7,37083.0,81.4,99.1,0.1,0.0,0.1,0.4
4,AK,397.0,42.0,21667.0,68.6,13.2,86.5,0.0,0.0,0.3

## Analisis

In [22]:
df['Population'].mean().round()

101104.0

In [23]:
df['Poverty_rate'].mean().round(2)

20.7

In [24]:
df['Median_income'].mean().round(2)

47740.47

In [43]:
df.corr()

,Population,Poverty_rate,Median_income,Percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic
Population,1.000000,0.007663,-0.009568,-0.011609,-0.012401,0.026441,0.002788,-0.010554,-0.017358
Poverty_rate,0.007663,1.000000,-0.610774,-0.473210,-0.022700,-0.002568,0.064383,-0.043093,-0.058070
Median_income,-0.009568,-0.610774,1.000000,0.485010,-0.022019,-0.121395,0.001541,0.114273,0.174286
Percent_completed_hs,-0.011609,-0.473210,0.485010,1.000000,-0.017818,-0.010319,0.023715,-0.016823,0.010498
share_white,-0.012401,-0.022700,-0.022019,-0.017818,1.000000,-0.380541,-0.720809,-0.121018,-0.128818
share_black,0.026441,-0.002568,-0.121395,-0.010319,-0.380541,1.000000,-0.181414,-0.073851,-0.173032
share_native_american,0.002788,0.064383,0.001541,0.023715,-0.720809,-0.181414,1.000000,-0.111652,-0.177073
share_asian,-0.010554,-0.043093,0.114273,-0.016823,-0.121018,-0.073851,-0.111652,1.000000,0.154398
share_hispanic,-0.017358,-0.058070,0.174286,0.010498,-0.128818,-0.173032,-0.177073,0.154398,1.000000

In [55]:
state = list(df['State'].unique())
df_Overall = pd.DataFrame(data=state)
data = list(df.groupby('State')['Population'].mean().round(2))
df_Overall = df_Overall.assign(Population=data)
data = list(df.groupby('State')['Poverty_rate'].mean().round(2))
df_Overall = df_Overall.assign(Poverty_rate=data)
data = list(df.groupby('State')['Median_income'].mean().round(2))
df_Overall = df_Overall.assign(Median_income=data)
data = list(df.groupby('State')['Percent_completed_hs'].mean().round(2))
df_Overall = df_Overall.assign(Percent_completed_hs=data)
data = list(df.groupby('State')['share_white'].mean().round(2))
df_Overall = df_Overall.assign(share_white=data)
data = list(df.groupby('State')['share_black'].mean().round(2))
df_Overall = df_Overall.assign(share_black=data)
data = list(df.groupby('State')['share_native_american'].mean().round(2))
df_Overall = df_Overall.assign(share_native_american=data)
data = list(df.groupby('State')['share_asian'].mean().round(2))
df_Overall = df_Overall.assign(share_asian=data)
data = list(df.groupby('State')['share_hispanic'].mean().round(2))
df_Overall = df_Overall.assign(share_hispanic=data)
df_Overall.head()

df_Overall.to_csv('./Data/Overall_DataSet.csv', na_rep='(missing)')

In [58]:
df_Overall.sample(5)

,0,Population,Poverty_rate,Median_income,Percent_completed_hs,share_white,share_black,share_native_american,share_asian,share_hispanic
23,MN,99166.43,20.47,37969.22,77.08,84.19,9.40,0.97,0.92,5.27
17,KY,25903.39,23.14,43422.50,82.96,57.42,0.86,31.47,0.62,19.14
15,IN,70208.30,20.58,47723.41,79.40,65.38,1.28,20.62,1.00,24.69
25,MS,26454.93,23.42,33883.09,80.54,75.22,20.11,0.70,0.52,3.35
8,DE,32778.22,10.74,63343.40,86.67,49.28,0.26,43.65,0.05,1.34

In [59]:
df_Overall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   0                      51 non-null     object
 1   Population             51 non-null     float64
 2   Poverty_rate           51 non-null     float64
 3   Median_income          50 non-null     float64
 4   Percent_completed_hs   51 non-null     float64
 5   share_white            51 non-null     float64
 6   share_black            51 non-null     float64
 7   share_native_american  51 non-null     float64
 8   share_asian            51 non-null     float64
 9   share_hispanic         51 non-null     float64
dtypes: float64(9), object(1)
memory usage: 4.1+ KB

In [61]:
df_Overall.isna().sum()

0                        0
Population               0
Poverty_rate             0
Median_income            1
Percent_completed_hs     0
share_white              0
share_black              0
share_native_american    0
share_asian              0
share_hispanic           0
dtype: int64