# Table Of Content
- Fase 1

# Fase 1
## Introduction
### First dataset
For this Project we will use several dataset

The first is about the poulation by city

In [1]:
import pandas as pd
raw = pd.read_csv('./Data/PopulationByCity.csv')
raw.head()

            city state  population      lat       lng
0   Anchor Point    AK      2057.0  59.7703 -151.7052
1      Anchorage    AK    253421.0  61.1508 -149.1091
2         Barrow    AK      4178.0      NaN       NaN
3       Big Lake    AK      3136.0  61.5260 -149.9721
4  Copper Center    AK       397.0  61.9845 -145.3544

In [2]:
raw.population.isna().sum()

0

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2832 entries, 0 to 2831
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        2832 non-null   object
 1   state       2832 non-null   object
 2   population  2832 non-null   float64
 3   lat         2228 non-null   float64
 4   lng         2228 non-null   float64
dtypes: float64(3), object(2)
memory usage: 110.8+ KB

In [177]:
data = raw.groupby('state')['population'].sum()
data

state
AK      387478.0
AL     2750534.0
AR     1616531.0
AZ     8250903.0
CA    49249138.0
CO     6137597.0
CT     2967945.0
DC     5289420.0
DE      295004.0
FL    21810103.0
GA     8419735.0
HI      944100.0
IA     1444472.0
ID     1144727.0
IL    10804913.0
IN     3721040.0
KS     1490641.0
KY     1735527.0
LA     3595868.0
MA     5531064.0
MD     3516636.0
ME      358554.0
MI     6441152.0
MN     4363323.0
MO     5369950.0
MS     1164017.0
MT      449445.0
NC     6475339.0
ND      256568.0
NE     1204252.0
NH      280697.0
NJ     2601111.0
NM     1493940.0
NV     3345225.0
NY    30512911.0
OH     8508297.0
OK     2763420.0
OR     3808109.0
PA    10533757.0
RI     1294305.0
SC     3012460.0
SD      310853.0
TN     4735520.0
TX    25148150.0
UT     3429680.0
VA     5061633.0
VT      145702.0
WA     7471759.0
WI     3649093.0
WV      790762.0
WY      242128.0
Name: population, dtype: float64

In [6]:
index = raw.state.unique()

In [7]:
df = pd.DataFrame(data=data, index=index)

In [9]:
df.columns = ['Population']
df.head()

    Population
AK    387478.0
AL   2750534.0
AR   1616531.0
AZ   8250903.0
CA  49249138.0

### Second dataset

In [15]:
with open('./Data/PercentagePeopleBelowPovertyLevel.csv', encoding="utf8", errors='ignore') as f:
    raw_1 = pd.read_csv(f)
raw_1.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [178]:
raw_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [16]:
raw_1.isna().sum()

Geographic Area    0
City               0
poverty_rate       0
dtype: int64

In [180]:
raw_1.loc[(raw_1['poverty_rate'] == '-')]

      Geographic Area              City poverty_rate
573                AL       Whatley CDP            -
608                AK  Attu Station CDP            -
632                AK       Chicken CDP            -
637                AK       Chisana CDP            -
662                AK      Dot Lake CDP            -
...               ...               ...          ...
29261              WY        Oakley CDP            -
29266              WY     Owl Creek CDP            -
29273              WY  Powder River CDP            -
29289              WY     Ryan Park CDP            -
29304              WY    Table Rock CDP            -

[201 rows x 3 columns]

In [211]:
raw_1.groupby('Geographic Area')['poverty_rate'].head()

0        78.8
1        29.1
2        25.5
3        30.7
4          42
         ...
29125     8.2
29126       0
29127    29.6
29128       -
29129    13.6
Name: poverty_rate, Length: 251, dtype: object

In [212]:
replace = raw_1.replace('-', 0)

In [213]:
replace.loc[(replace['poverty_rate'] == '-')]

Empty DataFrame
Columns: [Geographic Area, City, poverty_rate]
Index: []

In [214]:
replace.isna().sum()

Geographic Area    0
City               0
poverty_rate       0
dtype: int64

In [215]:
replace['poverty_rate'].astype('float64')

0        78.8
1        29.1
2        25.5
3        30.7
4        42.0
         ...
29324    18.6
29325    15.3
29326     5.9
29327     5.4
29328     0.0
Name: poverty_rate, Length: 29329, dtype: float64

In [216]:
replace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

TypeError: can only concatenate str (not "int") to str

In [149]:
# Numero delle città per ogni stato
my_list0 = []
lista_stati = raw.state.unique()
for i in lista_stati:
    _ = raw_1.loc[(raw_1['Geographic Area'] == i)].count()
    my_list0.append(_[1])
my_list0

[355,
 585,
 541,
 451,
 1522,
 458,
 144,
 1,
 77,
 918,
 627,
 151,
 1008,
 227,
 1368,
 680,
 672,
 540,
 474,
 246,
 518,
 130,
 692,
 903,
 1033,
 362,
 365,
 739,
 401,
 580,
 97,
 545,
 443,
 131,
 1196,
 1215,
 743,
 377,
 1762,
 36,
 396,
 391,
 430,
 1747,
 325,
 593,
 121,
 627,
 777,
 405,
 204]

In [156]:
df = raw_1.loc[(raw_1['Geographic Area'] == 'AK')]
means=df["poverty_rate"]
type(means)
means.max(axis=1)

ValueError: No axis named 1 for object type Series

In [124]:
# Numero delle città per ogni stato
my_list0 = []
lista_stati = raw.state.unique()
for i in lista_stati:
    _ = raw_1.loc[(raw_1['Geographic Area'] == i)].count()
    my_list0.append(_[1])
len(my_list0)

51

In [131]:
my_list=[]
data = list(raw_1.groupby('Geographic Area')['poverty_rate'].sum())
for i in range(51):
    _  = (data[i]/my_list0[i])
    my_list.append(_.round(2))

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [97]:
df=df.assign(Poverty_rate=my_list)
df

    Population  Poverty_rate
AK    387478.0         64.21
AL   2750534.0         65.30
AR   1616531.0         52.42
AZ   8250903.0        281.46
CA  49249138.0         97.46
CO   6137597.0        203.04
CT   2967945.0       1030.54
DC   5289420.0    5289420.00
DE    295004.0        425.69
FL  21810103.0        138.94
GA   8419735.0        118.84
HI    944100.0        480.95
IA   1444472.0         62.30
ID   1144727.0        201.71
IL  10804913.0        136.18
IN   3721040.0        103.25
KS   1490641.0         88.73
KY   1735527.0         47.97
LA   3595868.0        114.94
MA   5531064.0        936.83
MD   3516636.0        141.43
ME    358554.0        145.16
MI   6441152.0        155.13
MN   4363323.0        109.82
MO   5369950.0         79.98
MS   1164017.0         73.08
MT    449445.0         68.41
NC   6475339.0         86.76
ND    256568.0         71.09
NE   1204252.0        188.75
NH    280697.0        241.15
NJ   2601111.0        103.75
NM   1493940.0         88.75
NV   3345225.0       1276.80
NY  30512911.0        432.41
OH   8508297.0         77.81
OK   2763420.0         41.79
OR   3808109.0        229.57
PA  10533757.0         79.71
RI   1294305.0      11984.31
SC   3012460.0        120.75
SD    310853.0         72.27
TN   4735520.0        118.42
TX  25148150.0         74.20
UT   3429680.0        301.51
VA   5061633.0        135.49
VT    145702.0        172.02
WA   7471759.0        154.76
WI   3649093.0         73.38
WV    790762.0         42.45
WY    242128.0        169.56