In [4]:
# https://www.kaggle.com/osmi/mental-health-in-tech-survey

In [1]:
import pandas as pd
raw = pd.read_csv('./Data/survey.csv')

In [3]:
raw.sample(3)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
680,2014-08-28 08:43:57,33,male,Bulgaria,NaN,No,No,Yes,Rarely,26-100,...,Somewhat easy,Maybe,No,Some of them,Some of them,No,Maybe,Don't know,Yes,NaN
731,2014-08-28 10:30:04,24,Male,France,NaN,No,No,No,NaN,26-100,...,Don't know,Maybe,No,Yes,Some of them,No,No,Don't know,No,NaN
767,2014-08-28 11:50:28,27,Male,United Kingdom,NaN,No,No,No,Never,26-100,...,Somewhat easy,No,No,Some of them,No,Yes,Yes,Don't know,No,NaN

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [10]:
a = raw.groupby('coworkers')['no_employees'].value_counts()
a

coworkers     no_employees
No            More than 1000     82
              26-100             52
              6-25               52
              1-5                30
              100-500            30
              500-1000           14
Some of them  26-100            184
              6-25              176
              More than 1000    166
              100-500           117
              1-5                92
              500-1000           39
Yes           6-25               62
              26-100             53
              1-5                40
              More than 1000     34
              100-500            29
              500-1000            7
Name: no_employees, dtype: int64

In [12]:
result = a[0]/a[1]
result

1.5769230769230769

In [13]:
result = a[1]/a[2]
result

1.0